<footer class="footer">
    <div class="container-fluid">
        <p class="footer__copy">© 2012 – 2020 <br>ООО «Название компании»</p>
        <img class="footer__logo" src="assets/img/comodossl-trustlogo2.png" alt="">
    </div>
</footer>
