<div class="form">
    <div class="form__wrapper"></div>
    <div class="form__content">
        <form class="form__form">
            <h2 class="form__title">Введите логин и пароль для входа в Личный кабинет</h2>
            <input class="form__input" type="text" name="formLogin" placeholder="Логин" required>
            <input class="form__input" type="password" name="formPassword" placeholder="Пароль" required>
            <button class="button form__btn" type="submit">Войти</button>
        </form>

        <div class="form__links">
            <a class="form__link" href="#">Напомнить пароль</a>
            <a class="form__link" href="#">Регистрация</a>
        </div>

        <button class="form__close" type="button">
            <svg>
                <use xlink:href="assets/img/icons/sprite.svg#ic_close"></use>
            </svg>
        </button>
    </div>
</div>
