<div class="menu">
    <div class="menu__item">
        <h3 class="menu__title">ЛИЧНЫЙ КАБИНЕТ</h3>
        <ul class="menu__list">
            <li><button class="open-form" type="button">Вход в Личный кабинет</button></li>
        </ul>
    </div>

    <div class="menu__item">
        <h3 class="menu__title">КАК ЭТО РАБОТАЕТ</h3>
        <ul class="menu__list">
            <li><a href="#">Условия использования сервиса</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Служба поддержки</a></li>
        </ul>
    </div>
</div>
