<div class="search">
    <div class="container">
        <h1 class="visually-hidden">seo заголовок страницы</h1>
        <h2 class="title search__title">Поиск начислений</h2>
        <form class="search__form">
            <label class="search__input">
                <input type="text" placeholder="Введите данные для поиска">
                <svg>
                    <use xlink:href="assets/img/icons/sprite.svg#ic_search"></use>
                </svg>
            </label>
            <button class="button search__btn" type="button">Найти</button>
        </form>
        <p class="search__descr">Чем больше параметров введено, тем полнее результаты поиска</p>
    </div>
</div>
