.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 33px;
    background-color: rgba($blue, .33);
}

.footer__copy {
    margin: 0;
    margin-bottom: 17px;

    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;

    br {
        display: none;
    }
}

.footer__logo {
    display: block;
    width: 79px;
    margin: 0 auto;
}

@media(min-width: $desktop-width) {
    .footer {
        padding-top: 32px;
        padding-bottom: 39.5px;
        margin-top: 60px;

        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .footer__copy {
        margin-bottom: 0;

        font-size: 16px;
        line-height: 22px;
        text-align: left;

        br {
            display: block;
        }
    }

    .footer__logo {
        margin: 0;
    }
}
