.form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: all .3s;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transform: translateY(-100px);

    &.open {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
    }
}

.form__content {
    position: relative;

    width: 100%;
    height: 100vh;
    padding: 24px 20px;
    box-sizing: border-box;

    color: $text;
    background-color: $bg;
}

.form__form {
     margin-bottom: 32px;
}

.form__title {
    margin: 0;
    margin-bottom: 32px;
    margin-right: 30px;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    height: 60px;
    padding: 19px 24px;
    box-sizing: border-box;

    background-color: $bg;
    border: 2px solid rgba($blue, .33);
    border-radius: 8px;
    outline: none;

    font-family: $d-font;
    font-size: 16px;
    line-height: 22px;
    color: $text;

    &::placeholder {
        color: rgba($text, .75);
    }
}

.form__input + .form__input {
    margin-top: 16px;
}

.form__btn {
    margin-top: 23px;
}

.form__links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $blue;

    border-bottom: 1px dotted $blue;
    transition: .3s;

    &:hover {
        color: $blue-light;
        border-bottom: 1px dotted $blue-light;
    }
}

.form__link + .form__link {
    margin-top: 16px;
}

.form__close {
    position: absolute;
    top: 13.05px;
    right: 13px;

    width: 21.95px;
    height: 21.95px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        svg {
            fill: $blue-light;
        }
    }

    svg {
        width: 100%;
        height: 100%;
        fill: rgba($text, .25);
        transition: .3s;
    }
}

@media(min-width: $desktop-width) {
    .form {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: calc(50vh - 235px);
        }
    }
    .form__wrapper {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba($text, .8);
    }

    .form__content {
        max-width: 400px;
        height: auto;
        padding: 40px;
        margin: 0 auto;
    }

    .form__links {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
