//Breakpoints
$desktop-width: 800px;

//Colors
$bg: #fff;
$text: #000;
$accent: #d30531;
$blue: #004685;
$blue-light: #569ddc;

//Fonts
$d-font: 'open-sans-b', Arial, sans-serif;

// Path
$svg: '../assets/img/icons/sprite.svg#';
