<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body class="">
    {% include "template/top-line.twig" %}
    {% include "template/search.twig" %}
    {% include "template/info.twig" %}
    {% include "template/partners.twig" %}
    {% include "template/footer.twig" %}
    {% include "template/form.twig" %}
<script src="js/main.js"></script>
</body>
</html>
